* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	max-width: 1140px;
}
.header {
	margin-top: 20px;
}
.title {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: brown;
	font-weight: 900;
	text-align: center;
}
.please {
	position: relative;
	width: 1000px;
	height: 500px;
	background-color: yellow;
	margin: 0 auto;
	margin-top: 20px;
}
.form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.time {
	border: none;
	padding: 15px;
	color: black;
	font-size: 25px;
	text-align: center;
	outline: none;
	width: 400px;
	border: 2px solid #ccc;
	border-radius: 8px;
}
.difficult {
	padding: 15px;
	color: black;
	font-size: 25px;
	text-align: center;
	outline: none;
	width: 400px;
	border: 2px solid #ccc;
	border-radius: 8px;
}
.button {
	background-color: #4caf50;
	padding: 15px;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
}
.button:hover {
	background-color: #45a049;
}
.text {
	color: white;
	font-size: 25px;
	text-align: center;
}
.ball {
	display: none;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: red;
	left: 0;
	top: 0;
	transform: translate();
}
